.tech_icon_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
}

.tech_icon {
	width: 24px;
	height: 24px;
}

.tippy {
	color: var(--primary) !important;
	background-color: var(--tippy) !important;
}
