.spotify {
	align-self: self-start;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	gap: 6px;
	animation: fadeIn 0.5s ease-out;
}

.spotify_header {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6px;
	animation: fadeIn 0.5s ease-out;
	color: var(--secondary-text);
}

/* .spotify_header svg path {
	color: var(--spotify);
} */

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.spotify h2 {
	font-size: 18px;
	font-weight: 400;
}

.spotify a {
	display: flex;
}

.spotify .song_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	max-width: 220px;
}

.spotify img {
	width: 36px;
	height: 36px;
	object-fit: contain;
}

.playing {
	display: flex;
	gap: 3px;
	height: 50%;
	align-self: flex-end;
	text-align: center;
	font-size: 10px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.playing > div {
	background-color: #56b35f;
	height: 100%;
	width: 3px;
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	-webkit-animation: wavy 1s ease infinite forwards;
	animation: wavy 1s ease infinite forwards;
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
}
.playing .rect2 {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
.playing .rect3 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.playing .rect4 {
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}
.playing .rect5 {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
@-webkit-keyframes wavy {
	0% {
		-webkit-transform: scaleY(0.3);
		transform: scaleY(0.3);
	}
	50% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	100% {
		-webkit-transform: scaleY(0.3);
		transform: scaleY(0.3);
	}
}
@keyframes wavy {
	0% {
		-webkit-transform: scaleY(0.3);
		transform: scaleY(0.3);
	}
	50% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
	100% {
		-webkit-transform: scaleY(0.3);
		transform: scaleY(0.3);
	}
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: start;
	font-size: 14px;
	overflow: hidden;
}

.info .song {
	font-size: 12px;
	color: var(--text);

	white-space: nowrap; /* Забороняє перенос тексту */
	overflow: hidden; /* Ховає все, що виходить за межі */
	text-overflow: ellipsis; /* Додає три крапки */
	max-width: 100%;
}

.info .artist {
	font-size: 10px;
	color: var(--secondary-text);

	white-space: nowrap; /* Забороняє перенос тексту */
	overflow: hidden; /* Ховає все, що виходить за межі */
	text-overflow: ellipsis; /* Додає три крапки */
	max-width: 100%;
}
