.socialLinks {
	margin-top: 2rem;
}

.socialLinks a {
	color: white;
	margin: 0 1rem;
	font-size: 1.5rem;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: var(--text);
}

.socialLinks a i {
	background: linear-gradient(45deg, var(--primary) 50%, var(--secondary) 50%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.socialLinks a:hover {
	transform: translateY(-3px);
	box-shadow: 0 5px 15px rgba(var(--shadow), var(--shadow), var(--shadow), 0.3);
}
