.themeToggle {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	padding: 0.5rem;
	border-radius: 0.375rem;
	/* border: 2px solid var(--text); */
	border: none;
	background: transparent;
	color: var(--text);
	cursor: pointer;
	transition: all 0.3s ease;
	margin: 0;
}

.themeToggle svg {
	height: 1.25rem;
	width: 1.25rem;
}

.themeToggle:hover {
	background-color: var(--hover);
}
