:root {
	--primary: #ffffff;
	--secondary: #e4e4e4;
	--text: #1f1f1f;
	--secondary-text: #ffffff;
	--shadow: 0;
	--header: transparent;
	--headerBc: rgba(30, 41, 59, 0.5);
	--headerHover: rgba(0, 0, 0, 0.1);
}

:root[data-theme='dark'] {
	--primary: #1a1a1a;
	--secondary: #0b0909;
	--text: #ffffff;
	--secondary-text: #1f1f1f;
	--shadow: 255;
	--header: rgba(8, 8, 9, 0.6);
	--headerBc: rgba(91, 97, 107, 0.5);
	--headerHover: rgba(200, 200, 220, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

a {
	text-decoration: none;
	color: var(--primary);
}

body {
	overscroll-behavior: none;
	background: var(--secondary-text);
	color: var(--text);
	line-height: 1.6;
	transition: all 0.3s ease;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, var(--primary), var(--secondary));
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	z-index: -1;
	transition: all 0.3s ease;
}

#root {
	margin: 0 auto;
}

.hero {
	min-height: 100vh;
	width: 45rem;
	padding-inline: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	/* padding: 2rem 0; */
	padding: 4.5rem 2rem 2rem;
}

.content {
	color: var(--text);
	text-align: center;
}

.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 auto 2rem;
	border: 4px solid var(--text);
	object-fit: cover;
	animation: fadeIn 1s ease-out;
}

h1 {
	font-size: 3.5rem;
	margin-bottom: 1rem;
	animation: slideDown 1s ease-out;
}

.title {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	animation: slideUp 1s ease-out;
}

.cta-button {
	user-select: none;
	display: inline-block;
	padding: 1rem 2rem;
	background: var(--text);
	color: var(--secondary-text);
	text-decoration: none;
	border-radius: 50px;
	border: none;
	font-weight: bold;
	transition: transform 0.3s ease;
	margin: 1rem;
	font-size: 1rem;
	cursor: pointer;
}

.cta-button:hover {
	transform: scale(1.05);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.content {
		max-width: 1200px;
		padding: 4.5rem 1rem 1rem;
	}

	h1 {
		font-size: 1.5rem;
	}
	.title {
		font-size: 1rem;
	}

	.skills {
		gap: 1rem;
		font-size: 0.65rem;
		line-height: 1;
	}

	.skill-item {
		padding: 0.8rem 1.5rem;
		pointer-events: none;
	}

	.cta-button {
		font-size: 0.65rem;
		line-height: 1;
		margin: 0.5rem;
	}

	.profile-image {
		width: 150px;
		height: 150px;
	}

	.social-links a {
		font-size: 1rem;
		margin: 0 0.5rem;
	}
}
